
@{
    ViewBag.Title = "Add";
    Layout = null;
}

<h2>Add</h2>

<div>
    <form action="/QuanlyNhanvien/Add" method="post">
        <label>
            Mã nhân viên
        </label>
        <input type="text" name="manv" value="" />
        <label>
            Họ tên
        </label>
        <input type="text" name="hoten" value="" />
        <label>
            Địa chỉ
        </label>
        <input type="text" name="diachi" value="" />
        <label>
            Số ngày làm
        </label>
        <input type="number" name="songaylam" value="" />
        <label>
            Lương ngày
        </label>
        <input type="number" name="luongngay" value="" />
        <button>Add</button>
    </form>
    
</div>
